@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.products-container {
    background: #282c34;
    width: 50%;
    margin: 50px auto;
    padding: 5px;
    border-radius: 5px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.mainItem {
    background: #656b79;
    width: 60%;
    height: auto;
    right: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.wholeItem {
    display: flex
}

.itemImage{
    margin: auto;
}

.image {
    height: 300px;
    width: 270px;
    border-radius: 10px;
    -webkit-box-shadow: 17px 1px 22px -1px rgba(21, 25, 33, 1);
    -moz-box-shadow: 17px 1px 22px -1px rgba(21, 25, 33, 1);
    box-shadow: 17px 1px 22px -1px rgba(21, 25, 33, 1);
}

.image:hover{
    transform: scale(1.1);
}

.button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	border-radius:10px;
    border-style: none;
	display:inline-block;
	cursor:pointer;
	color:#524f4f;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    margin: 2px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}

.button:hover {
	background-color:#d4cbca;
    transform: scale(1.1);
}

.button:active{
    position:relative;
    top: 5px;
}