@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.products-container {
    background: #282c34;
    width: 40%;
    margin: 50px auto;
    border-radius: 5px;
    border-style: double;
    border-color: #181b20;
    border-width: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /*display: grid;*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.mainItem {
    background: #656b79;
    width: 60%;
    height: auto;
    right: 5px;
    margin: 5px;
    border-style: double;
    border-color: #181b20;
    border-width: 7px;
    border-radius: 5px;
    font-size: 20px;
}

.maintItem:hover {
    background: blue;
}

/*.mainItem:hover {
    background: rgba(0, 0, 0, 0);
    border-style: none;
    margin: 12px;
} */

.wholeItem {
    display: flex
}

.itemImage{
    margin: auto;
}

.image {
    height: 150px;
    width: 150px;
}

.button {
    background:#bcc6da;
    width: 100px;
    height: 50px;
    margin: 5px;
    border-style: double;
    border-color: #181b20;
    border-width: 7px;
}