.main {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0; 
    padding: 10px;
    background:#656b79;
    margin: 25px;
    margin-right: 0;
    border-radius: 5px;
}

.inputField{
    display:flex;
    flex-direction:column;
}
